.board {
  display: grid;
  grid-template-columns: repeat(var(--board-width), var(--cell-size));
  grid-template-rows: repeat(var(--board-height), var(--cell-size));
  max-width: calc(var(--cell-size) * var(--board-width));
  max-height: calc(var(--cell-size) * var(--board-height));
}

.cell {
  background-color: #303030;
  color: #fff;

  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;

  user-select: none;
}

.cell.revealed {
  background-color: #505050;
}

.cell.mine {
  background-color: red;
}
