.board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--board-width), var(--cell-size));
  grid-template-rows: repeat(var(--board-height), var(--cell-size));
  max-width: calc(var(--cell-size) * var(--board-width) + 2rem);
  max-height: calc(var(--cell-size) * var(--board-height) + 2rem);

  padding: 1rem;
  background-color: var(--board-bg);
  border-radius: 0px 0px 5px 5px;
}

/* displays */

.displays {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px 5px 0 0;
  padding: 1rem;
  background-color: var(--board-bg);

  border-bottom: 10px solid var(--board-divider);

  transition: 0.3s border ease-in;
}
.displays p {
  font-family: "Digital";
  font-size: 4rem;
  letter-spacing: 1px;
  color: var(--display-text);
  background-color: var(--display-bg);
  text-align: center;
  padding: 4px 8px 0 12px;
  line-height: 1em;
}

.minecount {
  margin-right: auto;
}
