.cell {
  color: #fff;

  font-family: minesweeper;
  font-size: calc(1.2rem * var(--board-zoom));

  width: var(--cell-size);
  height: var(--cell-size);

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/unrevealed.png");
  background-size: cover;
}
.cell.pressed {
  background-image: url("../assets/empty.png");
}

.cell.revealed {
  background-image: url("../assets/empty.png");
}
.cell.mine2 {
  background-image: url("../assets/mine.png");
}
.cell.mine {
  background-image: url("../assets/mine-hit.png");
}
.cell.flagged {
  background-image: url("../assets/flag.png");
}

.cell.n1 {
  color: var(--oneMine);
}
.cell.n2 {
  color: var(--twoMines);
}
.cell.n3 {
  color: var(--threeMines);
}
.cell.n4 {
  color: var(--fourMines);
}
.cell.n5 {
  color: var(--fiveMines);
}
.cell.n6 {
  color: var(--sixMines);
}
.cell.n7 {
  color: var(--sevenMines);
}
.cell.n8 {
  color: var(--eightMines);
}
