.cell {
  color: #fff;

  font-family: minesweeper;
  font-size: 1.2rem;

  width: var(--cell-size);
  height: var(--cell-size);

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/unrevealed.png");
  background-size: cover;
}
.cell.pressed {
  background-image: url("../assets/empty.png");
}

.cell.revealed {
  background-image: url("../assets/empty.png");
}
.cell.mine2 {
  background-image: url("../assets/mine.png");
}
.cell.mine {
  background-image: url("../assets/mine-hit.png");
}
.cell.flagged {
  background-image: url("../assets/flag.png");
}

.cell.n1 {
  color: blue;
}
.cell.n2 {
  color: green;
}
.cell.n3 {
  color: red;
}
.cell.n4 {
  color: darkblue;
}
.cell.n5 {
  color: darkred;
}
.cell.n6 {
  color: lightblue;
}
.cell.n7 {
  color: black;
}
.cell.n8 {
  color: gray;
}
