header {
  background-color: var(--header-bg);
  width: 100%;
  max-width: 1000px;
  padding: 5px;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;

  justify-self: center;
}

header button {
  padding: 0.2rem 1rem;
  cursor: pointer;
  color: #fff;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;

  transition: 0.1s;
}
header button:hover {
  border-color: white;
}

.timer-header {
  padding: 0.2rem 1rem;
}
