:root {
  --cell-size: 32px;
  --board-width: 16;
  --board-height: 16;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;

  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: 100px auto;

  background-color: #ececec;
}

.game-container {
  justify-self: center;
  margin: auto;

  display: grid;
  grid-template-rows: min-content auto;
  gap: 0rem;
  place-content: center;

  padding: 2rem;

  user-select: none;
}


