body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: roboto, sans-serif;

  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: min-content auto;

  background-color: var(--page-bg);
}

.game-container {
  justify-self: center;
  margin: auto;

  display: grid;
  grid-template-rows: min-content auto;
  gap: 0rem;
  place-content: center;

  padding: 2rem;

  user-select: none;
}

