:root {
  --cell-size: calc(32px * var(--board-zoom));
  --board-width: 16;
  --board-height: 16;
  --board-zoom: 1;

  --board-divider: #acf9ff; /* changes depending on game state */
  --page-bg: #ececec;
  --board-bg: #303030;
  --header-bg: #303030;

  --display-text: red;
  --display-bg: black;

  /* Mines' number color */
  --oneMine: blue;
  --twoMines: green;
  --threeMines: red;
  --fourMines: darkblue;
  --fiveMines: darkred;
  --sixMines: lightblue;
  --sevenMines: black;
  --eightMines: gray;
}

:root.dark {
  --page-bg: #000000;
}
